name: Release

on:
  push:
    branches: [main, staging, release]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup git user (for changelog step)
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"

      - name: Setup Node.js
        uses: ./.github/actions/node

      - name: Semantic Release
        run: make release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.REPO_TOKEN }}
          commit-message: 'ci(bump): update CHANGELOG.md'
          title: 'chore(release): update generated assets'
          body: Adds generated assets from last release(s)
          branch: releases/update-notes
          labels: semantic-release

      - name: Enable auto-merge
        if: steps.cpr.outputs.pull-request-operation == 'created'
        run: >
          gh pr merge "${{ steps.cpr.outputs.pull-request-number }}"
          --auto --squash
        env:
          GH_TOKEN: ${{ secrets.REPO_TOKEN }}

  # setup:
  #   runs-on: ubuntu-latest
  #   if: ${{ !startsWith(github.event.head_commit.message, 'ci(bump)') || !contains(github.ref_name, 'main') }}
  #   outputs:
  #     release_type: ${{ steps.set-release.outputs.type }}
  #     prerelease: ${{ steps.set-vars.outputs.prerelease }}
  #     devrelease: ${{ steps.set-vars.outputs.devrelease}}
  #     branch: ${{ steps.set-vars.outputs.branch }}
  #     changelog: ${{ steps.set-vars.outputs.changelog }}
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4
  #
  #     - name: Setup git user (for changelog step)
  #       run: |
  #         git config --global user.name "${{ github.actor }}"
  #         git config --global user.email "${{ github.actor }}@users.noreply.github.com"
  #
  #     - name: Set release type
  #       id: set-release
  #       run: |
  #         ref="${{ github.ref_name }}"
  #
  #         if [[ "${ref}" == "main" ]]; then
  #           echo "type=dev" >> $GITHUB_OUTPUT
  #         elif [[ "${ref}" == "staging" ]]; then
  #           echo "type=rc" >> $GITHUB_OUTPUT
  #         else
  #           echo "type=stable" >> $GITHUB_OUTPUT
  #         fi
  #
  #     - name: Check for pre-release configuration
  #       id: set-vars
  #       run: |
  #         id=${{ env.RELEASE_ID }}
  #         type=${{ steps.set-release.outputs.type }}
  #
  #         echo "branch=releases/${type}-${id}" >> $GITHUB_OUTPUT
  #
  #         if [[ "$type" == "stable" || "$type" == "rc" ]]; then
  #           echo "changelog=true" >> $GITHUB_OUTPUT
  #         fi
  #
  #         if [[ "$type" == "dev" ]]; then
  #           echo "devrelease=${id}" >> $GITHUB_OUTPUT
  #         fi
  #
  #         if [[ "$type" == "rc" ]]; then
  #           echo "prerelease=rc" >> $GITHUB_OUTPUT
  #         fi
  #
  # release_pr:
  #   runs-on: ubuntu-latest
  #   needs: setup
  #
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4
  #
  #     - id: cz
  #       name: Create bump and changelog
  #       uses: commitizen-tools/commitizen-action@master
  #       with:
  #         changelog: ${{ needs.setup.outputs.changelog || false }}
  #         prerelease: ${{ needs.setup.outputs.prerelease }}
  #         devrelease: ${{ needs.setup.outputs.devrelease }}
  #         push: false
  #         commit: false
  #
  #     - name: Save outputs
  #       id: save-outputs
  #       run: |
  #         commit_message="ci(bump): release ${{ env.REVISION }}"
  #         echo "commit_message=${commit_message}" >> $GITHUB_OUTPUT
  #
  #     - name: Bump cargo
  #       run: cargo update --workspace
  #
  #     - name: Create Pull Request
  #       id: cpr
  #       uses: peter-evans/create-pull-request@v6
  #       with:
  #         token: ${{ secrets.REPO_TOKEN }}
  #         commit-message: ${{ steps.save-outputs.outputs.commit_message }}
  #         title: ${{ steps.save-outputs.outputs.commit_message }}
  #         branch: ${{ needs.setup.outputs.branch }}
  #
  #     - name: Check outputs
  #       if: ${{ steps.cpr.outputs.pull-request-number }}
  #       run: |
  #         echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
  #         echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
  #
  # tag_version:
  #   runs-on: ubuntu-latest
  #   if: ${{ startsWith(github.event.head_commit.message, 'ci(bump)') }}
  #
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4
  #       with:
  #         fetch-depth: 0
  #
  #     - name: Create and push tag version
  #       id: get-tag
  #       run: |
  #         msg="${{ github.event.head_commit.message }}"
  #         version=$(echo "$msg" | grep -oE '([0-9]+\.){1,2}[0-9]+(-[a-zA-Z]+(\.[0-9]+)?)?(\+[a-zA-Z0-9]+)?')
  #
  #         if [ -z "$version" ]; then
  #           echo "Error: No valid version found in the commit message"
  #           exit 1
  #         fi
  #
  #         if [[ "$version" == *"dev"* ]]; then
  #           echo "Development version detected: v$version. Skipping tag creation."
  #           exit 0
  #         fi
  #
  #         if git rev-parse v${version} >/dev/null 2>&1; then
  #           echo "Tag v${version} already exists. Skipping tag creation."
  #           exit 0
  #         fi
  #
  #         echo "Extracted version: v$version"
  #         git tag v${version}
  #         git tag -l
  #         git push origin --tags

  # release:
  #   runs-on: ubuntu-latest
  #   needs: changelog
  #   if: github.ref == 'refs/heads/release'
  #
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v4
  #
  #     - name: Release
  #       uses: softprops/action-gh-release@v1
  #       with:
  #         body_path: body.md
  #         tag_name: ${{ env.REVISION }}
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  #
  # notify:
  #   runs-on: ubuntu-latest
  #   if: failure()
  #
  #   steps:
  #     - name: Error Notification
  #       run: |-
  #         echo "An error occurred during the release process"
  #  # Optionally, send a notification to Slack or email
