name: Release

on:
  pull_request:
    types: [closed]
    branches: [main]

jobs:
  release:
    needs: [build-artifacts]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: write
    steps:
      - uses: actions/checkout@v4.1.6
      - uses: actions/download-artifact@v4.1.7
        with:
          path: artifacts
          merge-multiple: true

      - name: List artifacts
        run: ls -R artifacts

      - uses: knope-dev/action@v2.1.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - run: knope release
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_TOKEN }}
