name: Release

on:
  pull_request:
    types: [closed]
    branches: [main]
  workflow_dispatch:

jobs:
  release:
    if: (github.head_ref == 'changeset/release-main' && github.event.pull_request.merged == true) || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: write
    steps:
      - uses: actions/checkout@v4.1.6
      - uses: knope-dev/action@v2.1.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - run: knope release
        env:
          GITHUB_TOKEN: ${{ secrets.REPO_TOKEN }}
